<% if @characters.any? %>
  <% @characters.each do |character| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(character.photo) %>">
      <%= character.name %>
      <span class="card-add-power", data-toggle="modal", data-target="#exampleModal">+</span>
      <div class="card-tags">
        <% character.powers.each do |power| %>
          <span><%= power.name %></span>
        <% end %>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add power to <%= character.name %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [character, @character_power] do |f| %>
              <%= f.association :power, input_html: {
               class: 'select2'} %>
              <%= f.submit "Add power", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% end %>
<% else %>
  <p>No characters found.</p>
<% end %>
